header{
    *{
        padding: 0%;
        margin: 0%;
        color: white;
    }
    #navbar{
    height: 60px;
    background-color: #0f1111;

    }
    #logo{
    color: #f08804;
    font-size: 25px;
    }
    a{
    margin-right: 200px;
    text-decoration: none;
    }
    button{
    background-color: #f08804;
    }
    input{
    color: black;
    }
}

.contentbox{
    height:100px;
    width:100px;
    border:2px solid #0f1111;
    display: inline-block; /*inline will make every box in same line */
}

#content{
    height: 500px;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}
